// Colors for SMS Analytics
$sliderItem: #05ff00;
// Colors for flowbuilder
$colorPath: #00abe0;
//Colors for apple
$appleLinkColor: #067dff;
$menuBG: #eff9fd;
// Application Color
$black: #36383f;
$grey-9: #1b1c1c;
$grey-8: #3b3c3d;
$grey-7: #5a5b5b;
$grey-6: #6d6e6f;
$grey-5: #969797;
$grey-4: #b5b6b7;
$grey-3: #d9dadb;
$grey-2: #e9eaea;
$grey-1: #f1f3f3;
$white: #ffffff;
$primary: #00abe0;
$primary-2: #42bae3;
$primary-3: #79cdeb;
$primary-4: #aee1f3;
$secondary: #153a63;
$secondary-2: #296493;
$secondary-3: #6ca3c3;
$secondary-4: #b9d6e6;
$error: #ec2926;
$error-2: #f64944;
$error-3: #f59794;
$error-4: #ffeaed;
$warning: #f19120;
$warning-2: #f7a937;
$warning-3: #facd86;
$warning-4: #fdf3e2;
$success: #30a958;
$success-2: #72c289;
$success-3: #c2e4cb;
$success-4: #e6f4ea;

$focusedInputBorderColor: #80bdff;
$focusedInputBoxShadowColor: #007bff;
$heaidngfontSize: 1.4em;
$subHeadingFontSize: 1.2em;
$paraFontSize: 0.9em;
$paraSmFontSize: 0.8em;
$linkFontSize: 0.8em;
$labelFontSize: 0.9em;
$inputFontSize: 0.9em;
$btnFontSize: 0.8em;

$xsFontSize: 0.75em;
$smFontSize: 0.8em;
$mdFontSize: 0.9em;
$lgFontSize: 1em;
$pageTitleFontSize: 1.3em;

$regularFontWeight: 400;
$boldFontWeight: 700;
$bolderFontWeight: 900;

$btnBorderRadius: 8px;
$inputBorderRadius: 8px;
$cardBorderRadius: 8px;
$borderRadius: 8px;
